<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="style.css">

    <script>
        // Accordion 
        function myAccFunc(id) {
        var x = document.getElementById(id);
        if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
        }
    
        // Click on the "TAXI" link on page load to open the accordion for demo purposes
        document.getElementById("myBtn").click();
       
    
        // Open and close sidebar
        function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
        document.getElementById("myOverlay").style.display = "block";
        }
     
        function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
        document.getElementById("myOverlay").style.display = "none";
        }

        // Modal Image Gallery
        function onClick(element) {
          document.getElementById("img01").src = element.src;
          document.getElementById("modal01").style.display = "block";
          var captionText = document.getElementById("caption");
          captionText.innerHTML = element.alt;
        }
    </script>


    <body>
        <!-- Sidebar/menu -->
        <nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
        <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
        <div class="w3-container">
            <h3 class="w3-padding-64"><b>같이타슈</b><br>서울여자대학교</h3>
        </div>
        <div class="w3-bar-block">
            <a href="{% url 'home' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Home</a>   
            <a onclick="myAccFunc('demoAcc1')" class="w3-bar-item w3-button w3-hover-white" id="myBtn">
                Taxi <i class="fa fa-caret-down"></i></a>
            <div id="demoAcc1"  href="javascript:void(0)" class="w3-bar-block w3-hide w3-padding-large w3-medium">
                <a href="{% url 'taxi' %}" class=w3-bar-item w3-button w3-light-grey><i class="fa fa-caret-right w3-margin-right"></i>공지사항</a>
                <a href="{% url 'hwarang' %}" class="w3-bar-item w3-button ">화랑대</a>
                <a href="{% url 'taereung' %}" class="w3-bar-item w3-button">태릉입구</a>
                <a href="{% url 'seokgye' %}" class="w3-bar-item w3-button">석계</a>
            </div>
            <a onclick="myAccFunc('demoAcc2')" class="w3-bar-item w3-button w3-hover-white" id="myBtn">
                CarPool <i class="fa fa-caret-down"></i></a>
            <div id="demoAcc2"  href="javascript:void(0)" class="w3-bar- block w3-hide w3-padding-large w3-medium">
                <a href="{% url 'car' %}" class=w3-bar-item w3-button w3-light-grey><i class="fa fa-caret-right w3-margin-right"></i>공지사항</a>
                <a href="#" class="w3-bar-item w3-button">드라이버 등록</a>
                <a href="#" class="w3-bar-item w3-button">드라이버 구해요</a>
                <a href="#" class="w3-bar-item w3-button">탑승자 구해요</a>
            </div>
            <a href="{% url 'mypage' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">QnA</a> 
            <a href="{% url 'login' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Login</a> 
            <a href="{% url 'home' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white" aria-disabled = "true">Logout</a>
            <a href="{% url 'signup' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">SignUp</a>
    
            </div>
        </nav>


        <!-- Top menu on small screens -->
        <header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding">
            <a href="javascript:void(0)" class="w3-button w3-red w3-margin-right" onclick="w3_open()">☰</a>
            <span>같이타슈</span>
        </header>

        <!-- Overlay effect when opening sidebar on small screens -->
        <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

        <!-- !PAGE CONTENT! -->
        <div class="w3-main" style="margin-left:340px;margin-right:40px">
            
        <!-- End page content -->
        </div>

        {% block content %}
        {% endblock %}
    </body>
</html>