{% extends 'base.html'%}
{% block content %}

<head>
  <meta charset="UTF-8">
  <title>Taxi</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="CSS/bootstrap.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="JS/bootstrap.js"></script>
</head>

<!-- 공지사항 부분 -->
<body>
<div class="w3-main" style="margin-left:340px;margin-right:40px">
<div class="w3-container" id="services" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Taxi.</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">

    <h2>슈니들과 택시 함께 타요.</h2>
    <br class="table" >
      <h5>
        <!-- <tr><br> -->
          *주의사항*
          <!-- <br></주의사항<br> -->
        <!-- </tr> -->
      </h5>
      <tbody>
        <tr>
          <td>카톡 아이디로 연결되니 돈들고 튈 생각 마세용</td>
          </tr>
      </tbody>
      </br>
    </p>
  </div>
</div>
</body>

{% endblock %}